ENVIRONMENT=''
PORT="4000"

# Token info
TOKEN_SECRET=""

# Database desenvolvimento
DB_USERNAME=""
DB_PASSWORD=""
DATABASE_NAME=""
DATABASE_HOST=""
DATABASE_TYPE=""

PAGINATE_LIMIT="10"
RETRY_REQUEST="3"

# New Relic
NEWRELIC_APPLICATION_NAME=""
NEWRELIC_LICENSE_KEY=""

# SMTP
SENDER_HOST=""
SENDER_PORT=""
SENDER_EMAIL=""
SENDER_PASSWORD=""

# Sentry.io
SENTRY_URL=""